@font-face {
    font-family: 'QuickLove';
    src: local('QuickLove'), url(./asset/fonts/quick\ love/Quick\ Love.otf) format("opentype");
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    height:100%;
}

body{
    width:100%;
    height:100%;
    background-color: #72d0f4;
}